body{
    background-color: black;
}
.container{
    background-color: rgb(59, 34, 50);
}

.form {
    width: 80%;
    margin: 60px auto 20px;
    align-items: center;
    
    color: rgb(194, 110, 199);
    display: flex;
    flex-direction: column;

}
.form span {
    font-size: 20px;
    margin-top:20px;
}
.form input {
    margin-top: 30px;
}
.form button {
    margin: 30px 0;
    color: rgb(89, 24, 78);
    background-color: black;

}
.validacion {
    width: 80%;
    color:rgb(94, 215, 122);
    margin: auto;
}
.lista {
    width: 80%;
    margin: 50px auto 0 ;
    
}
.tarea {
    border: 2px rgb(254, 82, 243) solid;
    border-radius: 2rem;
    height:fit-content;
    background-color: rgb(149, 91, 224);
    padding: 2%;
    display: grid;
    grid-template-columns: 4fr 1fr;
    align-items: center;
    color: rgb(64, 18, 75);
    
}